<style>
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;

}
h4,h3,h2{
    margin: 0px;
}
p{
    margin: 0px;
    font-size: 12px;
}
.cuadro{
    width: 700px;
    
    margin: 0px auto;
    /*border: 1px solid #fce803;
    border: 1px solid #e74c3c;*/
    border: 2px solid #001206;
}
.redondo{
    border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
}
.main-head{
    background: #fce803;
    border-radius: 10px 10px 0px 0px;
-moz-border-radius: 10px 10px 0px 0px;
-webkit-border-radius: 10px 10px 0px 0px;
border-bottom: 2px solid #001206;
}
.main-body{
    padding: 10px;
}
</style>

<div class="cuadro redondo">
    <div class="main-head"><img src="../../dist/img/logo-s.png" width="80"></div>
    <div class="main-body">
        <table width="100%">
            <tr>
                <td valign="top">
                    <h3>APELLIDOS Y NOMBRES</h3>
                    <p>{beneficiado}</p>
                    <h3>DNI</h3>
                    <p>{dni}</p>
                    <h3>COMPRADOR</h3>
                    <p>{comprador}</p>
                </td>
                <td valign="top">
                    <h3>TIPO</h3>
                    <p>{tentrada}</p>
                    <h3>NRO TICKET</h3>
                    <p>{nro}</p>
                    <h3>SEDE</h3>
                    <p>{sede}</p>
                </td>
                <td align="right">
                    <img src="../../dist/img/barcode.png"><BR><br>
                    <h3>FECHA CONSUMO</h3>
                    <p>{fconsumo}</p>
                </td>                
            </tr>
        </table>
    </div>
</div>