.circular {
  width: 298px;
  height: 224px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  
  }
header{
    background: #6d3b00;
    z-index: 503;
    position: relative;
    color: aliceblue;
    line-height: 40px;
}
.masthead .col-md-4 i{
    color:#28b414    
}
.masthead .col-md-4 {
    color:#ffd311
}
    
#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}
.module-opt{
    /*background: red;
    position: relative;
    margin-top: -60px;
    z-index: 603;    */
    margin-top: 60px;
}
.module-opt .col-md-3{
    /*background: green;
    margin: 0px;
    padding: 0px;
    padding-left: 30px;
    padding: 30px;*/
}
.module-opt .col-md-3:first-child{
    /*padding: 0px;*/
    padding-left: 15px;
}
.module-opt .caption{
    /*background:#1d1d1d;*/
    color:#d1d1d1;
}

.module-opt .caption h3{
    /*background: #ffcccc;*/
    color: #505050;
}
.module-opt .caption p{
    color: #858585
}
    
.module-opt .thumbnail span{
    background: yellow;
    display: inline-block;
    padding: 10px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    
}
.module-opt .thumbnail{
  /*background: red;*/
}
.module-opt .thumbnail img{
border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
border: 0px solid #000000;
}

.module-opt .thumbnail{
    border: 0px solid red;
    /*-webkit-box-shadow: 0px 2px 18px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 18px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 18px -1px rgba(0,0,0,0.75);*/
    
}
   