<div style="@import url(https://fonts.googleapis.com/css?family=Droid+Sans);background: url('{$path}img/body_bg');font-family: 'Droid Sans', sans-serif;">
<div style="border-radius: 0px 0px 30px 30px;-moz-border-radius: 0px 0px 30px 30px;-webkit-border-radius: 0px 0px 30px 30px;border: 0px solid #000000;background: #fff;padding: 10px 10px 40px 10px;}">
	<div class="display: block;background: #fce803;text-align: center;"><img src="{path}img/logo.png"></div>
	<div class="corner-body">
		<p>La Granja Villa les da la Bienvenida y los invita a adquirir sus pulseras de una forma más fácil, rápida y segura con LA TIENDITA ONLINE DE LA GRANJA VILLA.</p>
        <p>Los datos de su cuenta son:<br /><br />
        {datoscuenta}
        </p>
		<p>
		Para activar su cuenta e ingresar a la tienda online haga click <a href="{path}?mod=link&l={lynkencriptada}">AQUI</a>
		</p>
	</div>
	<div style="text-align: CENTER;">Copyright &copy LA GRANJA VILLA 2015</div>
</div>
</div>