<h2 style="color:#838383;">Informaci&oacute;n de Facturaci&oacute;n</h2>

<table style="border-collapse: collapse;width: 100%;font-family: arial;font-size:10px;color: #878787;">		

		<tr>

			<td style="border: 1px solid #dddddd;padding: 0.5rem;text-align: left;" width="50%">Su c&oacute;digo de reserva es <h2>{creserva}</h2></td>

			<td style="border: 1px solid #dddddd;padding: 0.5rem;text-align: left;" width="50%">

            - <a href="http://www.lagranjavilla.com/tienda/politicas_parque.pdf" target="_blank">Ver pol&iacute;ticas del parque.</a><br />

			- <a href="http://www.lagranjavilla.com/tienda/terminos_condiciones.pdf" target="_blank">Ver t&eacute;rminos y condiciones.</a>

            </td>			

		</tr>	

</table><br><br>

<table style="border-collapse: collapse;width: 100%;font-family: arial;font-size:10px;color: #878787;">

	<thead>

		<tr>

			<th style="border: 1px solid #dddddd;padding: 0.5rem;text-align: left;background: #f5f5f5;font-size: 12px;color: #838383;">CLIENTE</th>

			<th style="border: 1px solid #dddddd;padding: 0.5rem;text-align: left;background: #f5f5f5;font-size: 12px;color: #838383;">DNI</th>

			<th style="border: 1px solid #dddddd;padding: 0.5rem;text-align: left;background: #f5f5f5;font-size: 12px;color: #838383;">FECHA</th>

			<th style="border: 1px solid #dddddd;padding: 0.5rem;text-align: left;background: #f5f5f5;font-size: 12px;color: #838383;">CANTIDAD</th>

			<th style="border: 1px solid #dddddd;padding: 0.5rem;text-align: left;background: #f5f5f5;font-size: 12px;color: #838383;">TOTAL PAGADO</th>

		</tr>		

	</thead>

	<tbody>	

		<tr>

			<td style="border: 1px solid #dddddd;padding: 0.5rem;text-align: left;">{cliente}</td>

			<td style="border: 1px solid #dddddd;padding: 0.5rem;text-align: left;">{dni}</td>

			<td style="border: 1px solid #dddddd;padding: 0.5rem;text-align: left;">{fecha}</td>

			<td style="border: 1px solid #dddddd;padding: 0.5rem;text-align: left;">{cantidad}</td>

			<td style="border: 1px solid #dddddd;padding: 0.5rem;text-align: left;">S/.{total}</td>

		</tr>

	</tbody>

</table>

<h2 style="color:#838383;">Detalle de Facturaci&oacute;n</h2>

<table style="border-collapse: collapse;width: 100%;font-family: arial;font-size:10px;color: #878787;">

	<thead>

		<tr>

			<th style="border: 1px solid #dddddd;padding: 0.5rem;text-align: left;background: #f5f5f5;font-size: 12px;color: #838383;">FECHA INGRESO</th>

			<th style="border: 1px solid #dddddd;padding: 0.5rem;text-align: left;background: #f5f5f5;font-size: 12px;color: #838383;">TICKET</th>

			<th style="border: 1px solid #dddddd;padding: 0.5rem;text-align: left;background: #f5f5f5;font-size: 12px;color: #838383;">DESCRIPCI&Oacute;N</th>

			<th style="border: 1px solid #dddddd;padding: 0.5rem;text-align: left;background: #f5f5f5;font-size: 12px;color: #838383;">BENIFICIADO</th>

			<th style="border: 1px solid #dddddd;padding: 0.5rem;text-align: left;background: #f5f5f5;font-size: 12px;color: #838383;">PRECIO</th>

		</tr>		

	</thead>

	<tbody>{td}</tbody>

	<tfoot>

		<tr>

			<th style="border: 0px;background: #fff;font-size: 12px;"></th>

			<th style="border: 0px;background: #fff;font-size: 12px;"></th>

			<th style="border: 0px;background: #fff;font-size: 12px;"></th>

			<th style="border: 1px solid #dddddd;background: #f5f5f5;padding: 0.5rem;text-align: left;">SUB-TOTAL</th>

			<th style="border: 1px solid #dddddd;background: #f5f5f5;padding: 0.5rem;text-align:right;">S/. {stotal}</th>

		</tr>

		<tr>

			<th style="border: 0px;background: #fff;font-size: 12px;"></th>

			<th style="border: 0px;background: #fff;font-size: 12px;"></th>

			<th style="border: 0px;background: #fff;font-size: 12px;"></th>

			<th style="border: 1px solid #dddddd;background: #f5f5f5;padding: 0.5rem;text-align: left;">IGV</th>

			<th style="border: 1px solid #dddddd;background: #f5f5f5;padding: 0.5rem;text-align:right;">S/. {igv}</th>

		</tr>

		<tr>

			<th style="border: 0px;background: #fff;font-size: 12px;"></th>

			<th style="border: 0px;background: #fff;font-size: 12px;"></th>

			<th style="border: 0px;background: #fff;font-size: 12px;"></th>

			<th style="border: 1px solid #dddddd;background: #f5f5f5;padding: 0.5rem;text-align: left;">TOTAL</th>

			<th style="border: 1px solid #dddddd;background: #f5f5f5;padding: 0.5rem;text-align:right;">S/. {total}</th>

		</tr>

	</tfoot>

</table>