<style>



@import url(https://fonts.googleapis.com/css?family=Open+Sans);



body{



    font-family: 'Open Sans', sans-serif;



    font-size: 10px;







}



h4,h3,h2{



    margin: 0px;



}



p{



    margin: 0px;



    font-size: 12px;



}



.cuadro{



    width: 700px;



    



    margin: 0px auto;



    /*border: 1px solid #fce803;



    border: 1px solid #e74c3c;*/



    border: 2px solid #001206;



}



.redondo{



    border-radius: 10px 10px 10px 10px;



-moz-border-radius: 10px 10px 10px 10px;



-webkit-border-radius: 10px 10px 10px 10px;



}



.main-head{



    background: #fce803;



    border-radius: 10px 10px 0px 0px;



-moz-border-radius: 10px 10px 0px 0px;



-webkit-border-radius: 10px 10px 0px 0px;



border-bottom: 2px solid #001206;



}



.main-body{



    padding: 10px;



}



</style>







<div class="cuadro redondo">



    <div class="main-head" style="background:#CCCCCC;" align="center"><br><h1 style="font-size:22px;"><strong>LA GRANJA VILLA Y SU MUNDO MAGICO</strong></h1><h3><strong>TICKET DE INGRESO</strong></h3><br></div>



    <div class="main-body">



        <table width="100%">



            <tr>



                <td width="32%" valign="top">



                  <h3>APELLIDOS Y NOMBRES</h3>



                    <p>{beneficiado}</p>

				<br>

                    <h3>DNI</h3>



                    <p>{dni}</p>

				<br>

                    <h3>COMPRADOR</h3>



                    <p>{comprador}</p>



                </td>



          <td width="25%" valign="top">



            <h3>TIPO</h3>



                    <p>{tentrada}</p>

		<br>

            <h3>NRO TICKET</h3>



                    <p>{nro}</p>

		<br>

                    <h3>SEDE</h3>



                    <p>{sede}</p>



                </td>



  <td width="43%" align="right">                    



                    <img src="http://generator.barcodetools.com/barcode.png?gen=0&data={datacode}&col=4&row=8&bcolor=FFFFFF&fcolor=000000&y2x=4.0&xdim=2&w=&h=&cmode=0&ecl=9&cpdf=0&angle=0&quiet=1&alignh=1&alignv=1">



                    <BR>

<br>



                    <h3>FECHA ENTRADA</h3>



                    <p>{fconsumo}</p>



                </td>                



          </tr>



        </table>



    </div>



</div>

<br />
		<br />
        
        <table style="font-family:Arial; font-size:7px;" width="100%">
        <tr>
        <td width="50%" valign="top" style="font-family:Arial; font-size:7px;"><strong>¡BIENVENIDOS!</strong><br />
        Para que tu noche sea segura y divertida en El Festival del Terror de la Granja Villa, hemos preparado algunos tips y consejos para que lo disfrutes al máximo:


.<br />
        Por ello, es importante que leas estas indicaciones que te permitirán prepararte antes de ingresar a nuestro parque:<br />
        1. El Festival del Terror inicia a las 7:00 p.m. y termina a las 11:00 p.m. Para acceder a las atracciones extremas es indispensable tener de 13 años 					 		en adelante. Si tienes de 8 años a más y no quieres ser asustado, habrá zonas donde podrás vivir una experiencia temática de miedo en familia.<br />
        2. El ingreso al Festival del Terror es exclusivamente para personas mayores de 8 años.<br />
        3. Es obligatorio presentar el DNI de menores de edad antes de adquirir la entrada.<br />
        4. Si no quieres ser asustado, mantén distancia de las zonas de espanto y atracciones de terror que estarán señalizadas en distintas áreas del parque, 		
        ¡NO TE ACERQUES A ESTAS ZONAS!, de esta manera evitarás que las criaturas poseídas y monstruos te asusten. Al inicio del recorrido puedes acercarte a  
        nuestra tiendita y solicitar un "Repelente contra las criaturas poseídas y monstruos”..<br />
        5. Por motivos de Seguridad no se permite el ingreso de mujeres gestantes.<br />
        6. Nuestros juegos operan en base a talla y peso según las guías de seguridad de los fabricantes de cada juego. No incluye Caritas pintadas ni 
        tatuajes.<br />
        7. Para conocer mas detalle de las atracciones y juegos que estarán disponibles en el festival del terror comunícate al 717-7771 o visita nuestra 
        página web <a href="http://lagranjavilla.com/festivaldelterror/">http://lagranjavilla.com/festivaldelterror/</a> y hacer click en la zona de Festival 
        del Terror.<br />
        8. El uso de la Pulsera es indispensable e intransferible. Es necesario tenerla colocada durante toda la visita para acceder libremente a los 
        beneficios dentro parque. En caso de retirársela y/o perderla, no podrá tener acceso a los beneficios que brinda
        la pulsera. La reposición de otro material (pulsera) tiene un costo adicional.
.<br />
        9.	La Pulsera tiene validez solo por el día que se adquiere. Si la persona se retira de nuestras instalaciones no podrá REINGRESAR. Evite manipular la
        pulsera durante su estadía, ya que deberá mostrarla para acceder a toda la diversión.<br />
        10. Para disfrutar de las atracciones terroríficas de forma segura, sólo se permitirá el ingreso de una sola vez a cada atracción extrema 
        (MANICOMIO, MASCRE, CIRCO SINIESTRO, MANSIÓN EMBRUJADA Y JUEGO RADIACIÓN). Por favor no insistir<br />
        11. Te sugerimos traer prendas que te protejan del viento. Octubre tiene un clima templado, no quisiéramos que te resfríes.<br />
        12. Para mayor seguridad de sus vehículos, agradeceremos respetar las normativas de nuestro estacionamiento. Por ello, es importante seguir las 
        indicaciones del personal de seguridad, quien lo orientará con la ubicación de sus vehículos según la hora de llegada.<br />
		13. Si te extravías en el parque, siempre habrá una criatura poseída que pueda asustarte!!! No te apartes de tu grupo. Te recomendamos dirigirte al 
        restaurante La Palapa, este lugar será el punto de encuentro para estar realmente seguro de las criaturas y monstruos.
        </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td width="50%" valign="top" style="font-family:Arial; font-size:7px;">
		14. Si deseas el servicio de alquiler de sillas de ruedas puedes solicitarlo al ingreso del parque.<br />
		
        15. Nuestro personal realizará una inspección de todas las mochilas y bolsos que ingresen al parque, esto nos brindará una noche completamente segura 
        para todos<br />
        
        16. Por su seguridad y la de otros visitantes, no está permitido ingresar al parque con armas de fuego u objetos punzo cortantes; tampoco está 
        permitido el ingreso de mascotas, coolers, cigarros, triciclos, bicicletas, scooters, skates, globos, pelotas y palo de selfie. Deja todo objeto que 
        pueda lastimar a las criaturas poseídas y monstruos que habitan en el parque, será mas divertido si lo haces. En caso no quieras ser asustado puedes 
        adquirir tu repelente de monstruos en la tienda de merchandising.<br />
        17. El horario de los juegos extremos en Chorrillos (Vikingo, Black Hole, Río Granjero, Tagadisco, Disco Nazca y Mansión Embrujada,) y en
        Comas (La Alfombra, Torre, Troncos, Tagadisco y Río Amazónico), es en los siguientes horarios: Lunes a Viernes de 12:30 p.m. a 2:30 p.m. y 
        de 4:00 p.m. a 5:30 p.m, y los Sábados, Domingos y Feriados de 12:30 p.m. a 5:30 p.m. de corrido.<br />
        18. El ingreso a los recintos de animales debe realizarse con serenidad y sin presión de los tutores, por lo que se recomienda no obligar a los
        niños a ingresar, ya que los gritos y el llanto perturban a los animalitos, los que pueden tomar conductos inadecuadas ante el estres
        ocasionado por el ruido o por no cumplir con las indicaciones. Esto también evita escuchar la explicación que da el guía en diferentes áreas.
        El cronograma de actividades del plano entregado al ingreso, indica los horarios de las actividades del día.<br />
        19. No debemos darle de comer de acuerdo a su especie y características especiales, por los profesionales a cargo y lo que se otorga para la
        interacción esta racionado y preparado para ofrecer la mejor experiencia al visitante sin perjuicio del animal.<br />
        20. No está permitido alterar la tranquilidad o manipular a los animales que se encuentran sueltos a los animales alimentos que no sean los
        proporcionados dentro del parque para las diferentes áreas de animales, ya que estos alimentos podría atentar contra su vida. Cada animal
        recibe una dieta especial y balanceada diariamente por el parque.<br />
        22. El ingreso a las zonas de piscinas es de 10:00 a.m. a 5:15 p.m. y es solo en temporada de verano.<br />
        23. Todos los bañistas merecemos disfrutar de agua sana. Para lograr esto debemos cumplir CON EL DECRETO 007-2003-SA“El ingreso a
        la zona de piscinas es únicamente con ropa de baño”. Son las normativas de DISA. La ropa de baño es de material impermeable o lycra (la
        ropa interior, short de deporte o algodón, aso como los short de vestir No son ropa de baño). Por ello no esta permitido el uso de las piscinas
        con short deportivo, de vestir o de algodón, que no permite mantener el agua sana o en las damas, el uso de las salidas de baño sobre la ropa
        de baño que no sean de lycra.<br />
        24. Para los menores de edad que quieran ingresar al parque sin la compañía de un adulto deben tomar en cuenta primero: El padre o
        apoderado deberá firmar un documento en donde se deja constancia la decisión de dejar solo al menor (sólo si la edad del menor fluctúa
        entre los 13 y 17 años). El cual tendrá acceso solo a los juegos mecánicos, a la zona de animales silvestres y de animales de granja, pero no
        se permitirá el ingreso a la zona de piscinas. www.lagranjavilla.com/protocolonino.pdf<br />
        25. Por seguridad, los menores de edad únicamente ingresaran al área de piscinas acompañados por un adulto responsable. Si no hay un
        adulto responsable con el menor de edad no se permitirá el ingreso al área de piscinas.<br />
        26. Recomendamos aplicarte protector solar para evitar las insolaciones, sobre todo en temporada de verano. También se recomienda el
        uso de repelente en nuestras instalaciones.<br />
        27. La Granja Villa no se hace responsable por los cambios climáticos que puedan presentarse diariamente.<br />
        28. Para realizar cualquier pago con tarjeta de crédito es indispensable presentar su DNI. En el caso de ser extranjeros deben presentar su
        pasaporte o carnet de extranjería.<br />
        29. Sobre el uso de los Lockers: El servicio es exclusivo para los clientes de La Granja Villa y debe ser utilizado solo mientras permanezca en
        nuestras instalaciones. Ni La Granja Villa ni la empresa Maletek se responsabiliza por las pérdidas o robos de los objetos dejados dentro de
        los lockers, por lo que recomendamos no dejar dinero ni objetos de mucho valor. Se recomienda verificar que el casillero se encuentre
        cerrado en su totalidad al retirar la llave y también verificar las instrucciones de la utilización de los lockers. El costo del servicio es de 1.00 sol
        por cada vez que usted abra la puerta del locker y tiene que tomar en cuenta que la pérdida de la llave tiene una penalidad de 20.00 soles.<br />
        30. Dentro del parque encontrarás áreas verdes, áreas de descanso, áreas de juegos mecánicos, áreas de Animales, restaurantes, kioskos,
        áreas de juegos feriales y otros servicios varios. En invierno, presentamos un área de Inflables y en verano (Diciembre a Mayo) área de
        piscina.</td>
        </tr>
        </table>


