<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
        
        <style>
        body {font-family:Verdana, Arial, Helvetica, sans-serif;background-color:#fff;}
        table {width:100%; height:360px;}
        p{
            width: auto;
            height: auto;
            -ms-transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);    
        }
        </style>
    </head> 
    <body>
        <table style="background: url('../assets/img/bg_cupon01.png');">
            <tr>
                <td style="width:25px;">&nbsp;</td>
                <td style="text-align:left;">
                    <img src="http://generator.barcodetools.com/barcode.png?gen=0&data={datacode}&bcolor=FFFFFF&fcolor=000000&tcolor=000000&fh=14&bred=0&w2n=2.5&xdim=2&w=100&h=320&debug=1&btype=7&angle=90&quiet=1&balign=2&talign=0&guarg=1&text=1&tdown=1&stst=1&schk=0&cchk=1&ntxt=1&c128=0">
                </td>
            </tr>
        </table>
    </body>
</html>
