<style>
p{
	font-size: 12px;
	color:#111111;
	text-align: justify;
}
</style>
<p>Estimado (a) {cliente}:</p>
<p>Junto con saludarle, le enviamos su ticket de ingreso correspondiente a {sede}</p>
<p>Recuerde imprimir dos copias de su ticket: la primera para entregar en la puerta de ingreso y la segunda para usted, ya que puede ser solicitada a bordo o por personal de seguridad. Recuerde también que debe presentarse con la documentación requerida y vigente de acuerdo a su viaje.</p>

<p>Le saluda atte.,
El equipo de LAGRANJAVILLA.COM</p>
<p>PD: Por favor no responda a este e-mail. Ante cualquier duda le sugerimos que se comunique al teléfono indicado en su tarjeta de embarque.</p>