body {
	background-color: #E9ECF2;
	margin: 0px;
	scrollbar-face-color:#CDC2AE;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#D8D8D8;
	scrollbar-darkshadow-color:#D8D8D8;
	scrollbar-shadow-color:#776750;
	scrollbar-arrow-color:#5C3807;
	scrollbar-track-color:#E1DCD5;
}

.texto_01 {
	color: #633A10;
	font-size: 11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.texto_02 {
	color: #524A2D;
	font-size: 11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.texto_02 a {
	color: #524A2D;
	font-size: 11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.texto_02 a:hover {
	color: #000000;
	font-size: 11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

.texto_03 {
	color: #524A2D;
	font-size: 11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.titus {
	color: #524A2D;
	font-size: 11px;
	font-weight: bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.titus_tablas {
	color: #633A10;
	font-size: 11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
}
.titus_tablas a {
	color: #633A10;
	font-size: 11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
}
.titus_tablas a:hover {
	color: #38404E;
	font-size: 11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
}

.titulo_blanco {
	color: #ffffff;
	font-size: 11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
}
.pie {

	color: #633A10;
	font-size: 9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.input {
	color: #000000;
	background-color: #EFEFEF;
	font-size: 11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	height:18px;
	BORDER-RIGHT: #633A10 1px solid;
    BORDER-LEFT: #633A10 1px solid;
	BORDER-TOP: #633A10 1px solid;
	BORDER-BOTTOM: #633A10 1px solid;	
}
.boton {
	color: #EFEFEF;
	background-color: #633A10;
	font-size: 11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	height:18px;
	BORDER-RIGHT: #633A10 1px solid;
    BORDER-LEFT: #633A10 1px solid;
	BORDER-TOP: #633A10 1px solid;
	BORDER-BOTTOM: #633A10 1px solid;	
}

.textarea{
	BORDER-RIGHT: #633A10 1px solid;
    BORDER-LEFT: #633A10 1px solid;
	BORDER-TOP: #633A10 1px solid;
	BORDER-BOTTOM: #633A10 1px solid;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #EFEFEF;
	overflow:auto;
	color:#000000;
}

.select{
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #EFEFEF;
	font-size: 11px;
	color: #000000;
	border: 1px #633A10 solid;
	height: 18px;
	border-style:dotted;
	background-color: #EFEFEF;
	width:auto;		
	
}

.menu {
	color: #000000;
	font-size: 11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.menu1 {
	color: #633A10;
	font-size: 11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight:bold;
}

.login {
	color: #FFFFFF;
	font-size: 11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.txt_gris10 {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #38404E;
}
.txt_gris10 a {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	color: #38404E;
}
.txt_gris10 a:hover {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: underline;
	color: #38404E;
}

.txt_azul10 {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #524A2D;
}
.txt_azul10 a {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #524A2D;
}
.txt_azul10 a:hover {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #38404E;
}

A.menu:link { color:#000000;text-decoration:none }
A.menu:hover { color:#996633; text-decoration:none}.
