<style>



@import url(https://fonts.googleapis.com/css?family=Open+Sans);



body{



    font-family: 'Open Sans', sans-serif;



    font-size: 10px;







}



h4,h3,h2{



    margin: 0px;



}



p{



    margin: 0px;



    font-size: 12px;



}



.cuadro{



    width: 700px;



    



    margin: 0px auto;



    /*border: 1px solid #fce803;



    border: 1px solid #e74c3c;*/



    border: 2px solid #001206;



}



.redondo{



    border-radius: 10px 10px 10px 10px;



-moz-border-radius: 10px 10px 10px 10px;



-webkit-border-radius: 10px 10px 10px 10px;



}



.main-head{



    background: #fce803;



    border-radius: 10px 10px 0px 0px;



-moz-border-radius: 10px 10px 0px 0px;



-webkit-border-radius: 10px 10px 0px 0px;



border-bottom: 2px solid #001206;



}



.main-body{



    padding: 10px;



}



</style>







<div class="cuadro redondo">



    <div class="main-head" style="background:#CCCCCC;" align="center"><br><h1 style="font-size:22px;"><strong>LA GRANJA VILLA Y SU MUNDO MAGICO</strong></h1><h3><strong>TICKET DE INGRESO</strong></h3><br></div>



    <div class="main-body">



        <table width="100%">



            <tr>



                <td width="32%" valign="top">



                  <h3>APELLIDOS Y NOMBRES</h3>



                    <p>{beneficiado}</p>

				<br>

                    <h3>DNI</h3>



                    <p>{dni}</p>

				<br>

                    <h3>COMPRADOR</h3>



                    <p>{comprador}</p>



                </td>



          <td width="25%" valign="top">



            <h3>TIPO</h3>



                    <p>{tentrada}</p>

		<br>

            <h3>NRO TICKET</h3>



                    <p>{nro}</p>

		<br>

                    <h3>SEDE</h3>



                    <p>{sede}</p>



                </td>



  <td width="43%" align="right">                    



                    <img src="http://generator.barcodetools.com/barcode.png?gen=0&data={datacode}&col=4&row=8&bcolor=FFFFFF&fcolor=000000&y2x=4.0&xdim=2&w=&h=&cmode=0&ecl=9&cpdf=0&angle=0&quiet=1&alignh=1&alignv=1">



                    <BR>

<br>



                    <h3>FECHA ENTRADA</h3>



                    <p>{fconsumo}</p>



                </td>                



          </tr>



        </table>



    </div>



</div>

<br />
		<br />
        
        <table style="font-family:Arial; font-size:7px;" width="100%">
        <tr>
        <td width="50%" valign="top" style="font-family:Arial; font-size:7px;"><strong>¡BIENVENIDOS!</strong><br />
        ¡Estamos felices de que hayas elegido La Granja Villa para pasar tu día! ¡Nuestro objetivo es hacerte vivir una experiencia entretenida y
        además educativa!.<br />
        Por ello, es importante que leas estas indicaciones que te permitirán prepararte antes de ingresar a nuestro parque:<br />
        1. El ingreso a La Granja Villa es únicamente con la Pulsera Mágica que da acceso al parque, a los tours de animales y a los juegos
        mecánicos las veces que desee* dependiendo de la talla y peso de nuestros visitantes. Nuestros juegos operan en base a los tallímetros
        que dan las guías de seguridad de los fabricantes de cada juego. También podrán ingresar con la Pulsera Mágica al área de piscinas en
        temporada de verano (de Diciembre a Mayo aproximadamente). *(No incluye el Bungie, ni los juegos feriales o de destreza donde se
        concursa por un premio). Para más detalles de los juegos visita: http://www.lagranjavilla.com/atracciones/<br />
        2. Únicamente los niños que midan menos de ochenta centímetros (0.80 cm.) pueden ingresar sin pulsera al parque, e incluso pueden
        acceder a los tours de animales y en verano también al área de piscinas, mas no a los juegos mecánicos.<br />
        3. Los niños que midan menos de ochenta centímetros (80 cm.) tienen la opción de adquirir la Pulsera Mágica y tendrán acceso a los
        siguientes juegos en Chorrillos: El Pueblo, Lonas Saltarinas, Carrusel, Barquito Pirata y El Manu. Mientras en Comas tendrán: El Pueblo,
        Carrusel, Lonas saltarinas y barquito Vikingo.<br />
        4. El uso de la Pulsera Mágica es indispensable e intransferible. Es necesario tenerla colocada durante toda la visita para acceder
        libremente a los beneficios en el parque. En caso de retirársela y perderla, no podrá tener acceso a los beneficios que da la pulsera. La
        reposición de otro material (pulsera) tiene un costo adicional. La Pulsera tiene validez solo por el día que se adquiere. Si la persona se retira
        de nuestras instalaciones no podrá REINGRESAR. Evite manipular la pulsera durante su estadía, ya que deberá mostrarla para acceder a
        toda la diversión.<br />
        5. Para mayor seguridad de sus vehículos, agradeceremos respetar las normativas de nuestro estacionamiento. Por ello es importante
        seguir las indicaciones del personal de seguridad quien lo orientará con la ubicación de sus vehículos según la hora de llegada.<br />
        6. Nuestro personal realizará una inspección de todas las mochilas y bolsos que ingresen al parque, esto nos asegurará un día
        completamente seguro para todos.<br />
        7. Por su seguridad y la de otros visitantes no está permitido ingresar al parque con armas de fuego u objetos punzo cortantes, tampoco está
        permitido el ingreso de mascotas, coolers, cigarros, triciclos, bicicletas, scooters, skates, globos, pelotas, palo para selfie, inflables,
        flotadores, juegos de propulsión a chorro ó pistolas de agua en temporada de verano, o juguetes que puedan comprometer algún riesgo,
        también envases de vidrio, silbatos, cornetas u objetos que hagan ruido y perturben la tranquilidad de nuestros visitantes y de los animales
        que viven en el parque.<br />
        8. Por seguridad no está permitido el ingreso de alimentos ni bebidas, ya que una vez que el visitante haya ingresado a nuestras
        instalaciones, La Granja Villa se hace responsable de su seguridad dentro de nuestras sedes. Los invitamos a conocer más en nuestra
        página web http://www.lagranjavilla.com/servicios_parafamilias.php donde se indica que La Granja Villa se responsabiliza de los productos
        alimenticios que se elaboran y ofrece en nuestro sede, mas no podemos responsabilizarnos de los alimentos que proceden de fuera, sobre
        los cuales no conocemos su preparación ni preservación.<br />
        9. En el caso de papillas, leche en polvo o fórmula y termos de agua hervida que no contengan vidrio en su interior, ingresan directamente al
        parque sin necesidad de activar protocolos.<br />
        10. En el caso de que estos alimentos (punto 9) vengan en contenedores de vidrio o termos de vidrio y refrigerios que contengan dietas
        especiales, se activaran los protocolos en la oficina de RRPP en el ingreso, según lo indicamos <a href="http://www.lagranjavilla.com/PROTOCOLO%20PARA%20INGRESO%20DE%20ALIMENTOS%20ESPECIALES.pdf" target="_blank">aqu&iacute;</a><br />
        11. Por su seguridad y la de otros visitantes, “Conforme a las recomendaciones para la prevención y cuidado de la salud, dentro de nuestras
        instalaciones, el ingreso de los visitantes al parque, que demuestren signos de una enfermedad eruptiva o infectocontagiosa se encuentra
        restringido, en virtud de preservar la salud de nuestra comunidad y del propio visitante. Cabe indicar que el Ministerio de Salud cuenta con
        programas de vacunación gratuita y que las recomendaciones de aislamiento temporal responden a condiciones médicas generales, a
        efectos de evitar la transmisión y difusión de virus”.<br />
        12. Es muy importante respetar las normativas de seguridad que indica el operador de cada juego al ingresar al área, y que además están
        publicadas en cada una de nuestras atracciones con el nombre de: GUIA DE SEGURIDAD. Dependiendo del juego puede encontrar
        restricciones de talla y peso que son indicadas por el fabricante del juego en el manual. Vulnerar alguna de estas medidas implica retirar a la
        persona del juego. Para mas detalle de las guías de seguridad visita: http://www.lagranjavilla.com/atracciones/<br />
		13. Por la privacidad de terceras personas, no están permitidas las fotografías o filmaciones a personas que no sean de su entorno, es decir
        a otros visitantes del parque con los que no tenemos amistad.
        </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td width="50%" valign="top" style="font-family:Arial; font-size:7px;">
		14. El ingreso a la Mansión Embrujada es solo en una ocasión por visitante, siempre que se supere el metro 1.30 centímetros de estatura.<br />
		15. No está permitido subir a los juegos con artículos que puedan desprenderse del usuario al accionar la atracción, poniendo en riesgo la
        operatividad y la seguridad del juego, además de la de otros visitantes. Por lo cual, no está permitido acceder a nuestros juegos con objetos
        como: carteras, canguros, gorras, mochilas, lentes, etc. Para más información visita: www.lagranjavilla.com/atracciones/<br />
        16. En el juego del Disco Nazca, por seguridad no está permitido el ingreso con sandalias que no tengan correas reajustables que pasen por
        detrás del tobillo, para evitar que estas puedan salir disparadas y caigan en el riel de transito del juego.<br />
        17. El horario de los juegos extremos en Chorrillos (Vikingo, Black Hole, Río Granjero, Tagadisco, Disco Nazca y Mansión Embrujada,) y en
        Comas (La Alfombra, Torre, Troncos, Tagadisco y Río Amazónico), es en los siguientes horarios: Lunes a Viernes de 12:30 p.m. a 2:30 p.m. y 
        de 4:00 p.m. a 5:30 p.m, y los Sábados, Domingos y Feriados de 12:30 p.m. a 5:30 p.m. de corrido.<br />
        18. El ingreso a los recintos de animales debe realizarse con serenidad y sin presión de los tutores, por lo que se recomienda no obligar a los
        niños a ingresar, ya que los gritos y el llanto perturban a los animalitos, los que pueden tomar conductos inadecuadas ante el estres
        ocasionado por el ruido o por no cumplir con las indicaciones. Esto también evita escuchar la explicación que da el guía en diferentes áreas.
        El cronograma de actividades del plano entregado al ingreso, indica los horarios de las actividades del día.<br />
        19. No debemos darle de comer de acuerdo a su especie y características especiales, por los profesionales a cargo y lo que se otorga para la
        interacción esta racionado y preparado para ofrecer la mejor experiencia al visitante sin perjuicio del animal.<br />
        20. No está permitido alterar la tranquilidad o manipular a los animales que se encuentran sueltos a los animales alimentos que no sean los
        proporcionados dentro del parque para las diferentes áreas de animales, ya que estos alimentos podría atentar contra su vida. Cada animal
        recibe una dieta especial y balanceada diariamente por el parque.<br />
        22. El ingreso a las zonas de piscinas es de 10:00 a.m. a 5:15 p.m. y es solo en temporada de verano.<br />
        23. Todos los bañistas merecemos disfrutar de agua sana. Para lograr esto debemos cumplir CON EL DECRETO 007-2003-SA“El ingreso a
        la zona de piscinas es únicamente con ropa de baño”. Son las normativas de DISA. La ropa de baño es de material impermeable o lycra (la
        ropa interior, short de deporte o algodón, aso como los short de vestir No son ropa de baño). Por ello no esta permitido el uso de las piscinas
        con short deportivo, de vestir o de algodón, que no permite mantener el agua sana o en las damas, el uso de las salidas de baño sobre la ropa
        de baño que no sean de lycra.<br />
        24. Para los menores de edad que quieran ingresar al parque sin la compañía de un adulto deben tomar en cuenta primero: El padre o
        apoderado deberá firmar un documento en donde se deja constancia la decisión de dejar solo al menor (sólo si la edad del menor fluctúa
        entre los 13 y 17 años). El cual tendrá acceso solo a los juegos mecánicos, a la zona de animales silvestres y de animales de granja, pero no
        se permitirá el ingreso a la zona de piscinas. www.lagranjavilla.com/protocolonino.pdf<br />
        25. Por seguridad, los menores de edad únicamente ingresaran al área de piscinas acompañados por un adulto responsable. Si no hay un
        adulto responsable con el menor de edad no se permitirá el ingreso al área de piscinas.<br />
        26. Recomendamos aplicarte protector solar para evitar las insolaciones, sobre todo en temporada de verano. También se recomienda el
        uso de repelente en nuestras instalaciones.<br />
        27. La Granja Villa no se hace responsable por los cambios climáticos que puedan presentarse diariamente.<br />
        28. Para realizar cualquier pago con tarjeta de crédito es indispensable presentar su DNI. En el caso de ser extranjeros deben presentar su
        pasaporte o carnet de extranjería.<br />
        29. Sobre el uso de los Lockers: El servicio es exclusivo para los clientes de La Granja Villa y debe ser utilizado solo mientras permanezca en
        nuestras instalaciones. Ni La Granja Villa ni la empresa Maletek se responsabiliza por las pérdidas o robos de los objetos dejados dentro de
        los lockers, por lo que recomendamos no dejar dinero ni objetos de mucho valor. Se recomienda verificar que el casillero se encuentre
        cerrado en su totalidad al retirar la llave y también verificar las instrucciones de la utilización de los lockers. El costo del servicio es de 1.00 sol
        por cada vez que usted abra la puerta del locker y tiene que tomar en cuenta que la pérdida de la llave tiene una penalidad de 20.00 soles.<br />
        30. Dentro del parque encontrarás áreas verdes, áreas de descanso, áreas de juegos mecánicos, áreas de Animales, restaurantes, kioskos,
        áreas de juegos feriales y otros servicios varios. En invierno, presentamos un área de Inflables y en verano (Diciembre a Mayo) área de
        piscina.</td>
        </tr>
        </table>


