.link_menu{

font-family: Arial, Verdana, Helvetica, sans-serif;

color: #ffffff;

font-size:11px;

font-style:normal;

text-decoration:none;

}



a.link_menu:hover{

font-family: Arial, Verdana, Helvetica, sans-serif;

color: #ffffff;

font-size:11px;

font-weight: bold;

text-decoration:none;

}



.link_nuevo{

font-family: Arial, Verdana, Helvetica, sans-serif;

color: #20214B;

font-size:11px;

font-style:normal;

text-decoration:none;

}



a.link_nuevo:hover{

font-family: Arial, Verdana, Helvetica, sans-serif;

color: #20214B;

font-size:11px;

font-weight: bold;

text-decoration:none;

}





.titulo_seccion{

font-family: Arial,Verdana, Helvetica, sans-serif;

color: #ffffff;

font-size:18px;

font-weight: bold; 

text-align:center;

}



.texto{

font-family: Arial,Verdana, Helvetica, sans-serif;

color: #20214B;

font-size:11px;

font-style:normal;

}



.titulo_lista{

font-family: Arial,Verdana, Helvetica, sans-serif;

color: #ffffff;

font-size:11px;

font-weight: bold; 

}



.select{

	font-family: Arial,Verdana, Helvetica, sans-serif;

	font-size: 11px;

	color: #404041;

	border: 1px gray solid;

	height: 16px;

	border-style:dotted;

	background-color: #FFFFFF;

	width:auto;		

	

}



.input {

	font-family: Arial,Verdana, Helvetica, sans-serif;

	font-size: 11px;

	color: #404041;

	background-color: #FFFFFF;

	border: 1px gray solid;

	height: 17px;

}



.button

{

    BORDER-RIGHT: #000000 1px solid;

    BORDER-TOP: #000000 1px solid;

    FONT-SIZE: 7.5pt;

    BORDER-LEFT: #000000 1px solid;

    WIDTH: 50pt;

    CURSOR: hand;

    BORDER-BOTTOM: #000000 1px solid;

	font-family: Arial,Verdana, Helvetica, sans-serif;

    BACKGROUND-COLOR: #eeeeee;

	

	

}



.textarea{

	BORDER-RIGHT: gray 1px solid;

    BORDER-LEFT: gray 1px solid;

	BORDER-TOP: gray 1px solid;

	BORDER-BOTTOM: gray 1px solid;

	font-family: Arial,Verdana, Helvetica, sans-serif;

	font-size: 11px;

	background-color: #FFFFFF;

	overflow:hidden;

	color:#404041;



}





.login{

font-family: Arial,Verdana, Helvetica, sans-serif;

color: #656565;

font-size:11px;

font-weight: bold; 

}